<%- include('partials/currentDevice') -%>

<div class="container mt-5 w-50">

    <h2 class="mb-4">Add Device</h2>

    <form action="/add/current" method="POST">
        <input type="text" class="form-control"  name="ComputerName" placeholder="Computer Name">
        <input type="text" class="form-control"  name="Manufacturer" placeholder="Manufacturer">
        <input type="text" class="form-control"  name="SerialNumber" placeholder="Serial Number">
        <input type="text" class="form-control"  name="ModelNumber" placeholder="Model Number">
        <input type="text" class="form-control"  name="OsVersion" placeholder="Os Version">
        <input type="text" class="form-control"  name="ChassisTypesRaw" placeholder="Chassis Types">
        <input type="text" class="form-control"  name="Age" placeholder="Age">
        <input type="text" class="form-control"  name="CurrentYear" placeholder="Current Year">
        <input type="text" class="form-control"  name="CompId" placeholder="Comp Id">
        <input type="text" class="form-control"  name="ReplacementCost" placeholder="Replacement Cost">
        <input type="text" class="form-control"  name="Type" placeholder="Type">
        <input type="text" class="form-control"  name="assignedTo" placeholder="Assigned To">
        <input type="text" class="form-control"  name="shouldRetire" placeholder="Should Retire">
        <input type="text" class="form-control"  name="oldEnough" placeholder="Old Enough">
        <input type="text" class="form-control"  name="ChassisType" placeholder="Chassis Type">
        <input type="text" class="form-control"  name="ChassisSubType" placeholder="Chassis Sub">
        <input type="text" class="form-control"  name="ShipDate" placeholder="Ship Date">
        <input type="text" class="form-control"  name="notes" placeholder="Notes">
        <input type="text" class="form-control"  name="LastLogin" placeholder="Last Login">
        <input type="text" class="form-control"  name="GetLastDeviceLogin" placeholder="Last Device Login">
        <button type="submit" class="btn btn-danger btn-block mt-3">Add to Database</button>

    </form>
</div>

<%- include('partials/footer') -%>