<%- include('/partials/old') -%>

<div class="container mt-5 w-50">

    <h2 class="mb-4">Add Old Device</h2>

    <form action="/add/old" method="POST">
        <input type="text" class="form-control"  name="ComputerName" placeholder="Computer Name">
        <input type="text" class="form-control"  name="Manufacturer" placeholder="Manufacturer">
        <input type="text" class="form-control"  name="SerialNumber" placeholder="Serial Number">
        <input type="text" class="form-control"  name="ModelNumber" placeholder="Model Number">
        <input type="text" class="form-control"  name="Age" placeholder="Age">
        <input type="text" class="form-control"  name="CurrentYear" placeholder="Current Year">
        <input type="text" class="form-control"  name="ShipDate" placeholder="Ship Date">
        <input type="text" class="form-control"  name="AssignedTo" placeholder="Assigned To">
        <input type="text" class="form-control"  name="Notes" placeholder="Notes">
        <button type="submit" class="btn btn-danger btn-block mt-3">Add to Database</button>

    </form>
</div>

<%- include('partials/footer') -%>