<%- include('partials/currentDevice') -%>

<div class="container mt-5 w-50">

    <h2 class="mb-4">Add Device</h2>

    <form action="/add/current" method="POST">
        <input type="text" class="form-control" value="ComputerName" name="ComputerName" placeholder="Computer Name">
        <input type="text" class="form-control" value="Manufacturer" name="Manufacturer" placeholder="Manufacturer">
        <input type="text" class="form-control" value="SerialNumber" name="SerialNumber" placeholder="Serial Number">
        <input type="text" class="form-control" value="ModelNumber" name="ModelNumber" placeholder="Model Number">
        <input type="text" class="form-control" value="Age" name="Age" placeholder="Age">
        <input type="text" class="form-control" value="CurrentYear" name="CurrentYear" placeholder="Current Year">
        <input type="text" class="form-control" value="ShipDate" name="ShipDate" placeholder="Ship Date">
        <input type="text" class="form-control" value="notes" name="Notes" placeholder="Notes">
        <button type="submit" class="btn btn-danger btn-block mt-3">Add to Database</button>

    </form>
</div>

<%- include('partials/footer') -%>