<%- include('partials/users') -%>

<div class="container mt-5 w-50">

    <h2 class="mb-4">Add New Users</h2>

    <form action="/add/users" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <input type="text" class="form-control"  name="name" placeholder="Name">
        <input type="text" class="form-control" name="displayName" placeholder="Display Name">
        <input type="text" class="form-control" name="email" placeholder="Email">
        <input type="text" class="form-control"  name="username" placeholder="Username">
        <input type="text" class="form-control" name="title" placeholder="Title">
        <input type="text" class="form-control"  name="office" placeholder="Office">

        <button type="submit" class="btn btn-danger btn-block mt-3">Add to Database</button>

    </form>
</div>

<%- include('partials/footer') -%>